#root {
    background-color:white;
    min-height:100vh;
    height:100%;
}
.spinner {
    text-align:center;
}

.app-wrapper {
}

a {
    color: inherit;
    text-decoration: none !important;
  }
  