.minimized-wrapper {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 20vh;
}

.pointless-place-holder {
    width: 75vw;
    height: 65vh;
    max-height: 70vw;
    display: flex;
    background: rgba(0,0,0,0.5);
}

.singlevideo-wrapper {
    display:flex;
    flex-direction: column;
    width: 18vw;
    word-wrap: break-word;
    margin: 1em;
    margin-bottom: 0em;
}

.conference-wrapper {
    display:flex;
    flex-direction: row;
}

.videos-wrapper {
    width: 75vw;
}